html
  head
    title #{title}
    //link(rel='icon', sizes='16x16', href='images/favicon.ico')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/#{sha}.css')
    link(rel='stylesheet', type='text/css', media='print', href='/print.css')
    //if lt IE 10
      link(rel='stylesheet', type='text/css', src="/iefix.css")
    script(src='/#{sha}.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.18/paper-full.js")
    script(src='/mgslogo.js', type="text/paperscript", canvas="canvas")
  body
    div#react
      header
        h1 #{title}
