/* ---------------------------------------------------------------------------*/
/* ---------->>> basic styles for the student submission forms! <<<-----------*/
/* ---------------------------------------------------------------------------*/

body {
  padding-top: 100px;
}

.student-input select {
  font-size: 2em;
}

.login label {
  margin-bottom: 1.1111em;
}

.login .help-block {
  display: block;
  margin-top: 1.1111em;
}

#fileImg {
  margin-top: 4em;
  width: 33.33333333%;
}

.student-input img {
  margin-left: 33.33333333%;
  width: 33.33333333%;
}